body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.buttonAnswer {
  background-color: #CDDE;
  width: 400px;
  height: 60px;
  color: navy;
  font-size: 20px;
}

.question {
  color: red;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.correct, .incorrect {
  position: relative;
  font-size: 22px;
  font-weight: 700px;
}

.correct {
  top: -240px;
  left: 600px;
}

.incorrect {
  top: -180px;
  left: 600px;
}


